

<ion-content>
    <div class="dash">
        <h1>Nominas <a (click)="goBack()"><img src="/assets/left.svg" alt=""></a></h1>
        <p>Listado de nominas</p>

    
      </div>
<!-- List of Text Items -->
<ion-list class="list-nomina" >
    <ion-item class="ola"  *ngFor="let nomina of nominas">
      <ion-label >{{nomina.fecha_inicio}} - {{nomina.fecha_fin}}</ion-label>
      <button (click)="mostrarNomina(nomina.id)">+</button>
    </ion-item>
  </ion-list>
  
  <!-- List of Input Items -->
  
</ion-content>
