<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="ion-padding">
<div class="content-login">
    <div>
        <h1>Signal 17518392</h1>
        <div class="circle">
            <span></span> <span></span><span></span>
        </div>
        <ion-input class="input-style" placeholder="Cédula" [(ngModel)] = "cedula"><ion-icon class="icon-style" name="person"></ion-icon></ion-input>
        <a expand="block" class="btn-login" (click)="login()">Entrar</a>
    </div>


</div>
  
    
  </div>
</ion-content>
